body {
  margin: 0;
  margin-top: 100px;
}



.text-blue {
  color: #005E93;
}

.btn-blue {
  background-color: #005E93;
  color: white;
}

.cadastro-link {
  color: #000000;
  text-decoration: none;
}

.cadastro-link:hover {
  color: #000000;
  text-decoration: none;
}



.menu-color {
  background-color: #005E93;
  position: fixed;
  top: 0px;
  margin-bottom: 100px;
  z-index: 2;
  width: 100% ;
  transition: 1s;
}

.mx-30p {
  margin-left: 20%;
  margin-right: 20%;
}

.img-logo {
  width: 65%;
  height: 65%;
}



@media only screen and (max-width: 1200px) {
  .img-logo {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .img-logo {
    width: 150%;
    height: 150%;
  }
}


@media only screen and (max-width: 600px) {
  .img-logo {
    width: 200%;
    height: 200%;
  }
}

@media only screen and (max-width: 400px) {
  .img-logo {
    width: 250%;
    height: 250%;
  }
}





.logo-link {
  width:8%;
}

.footer {
  /* position: absolute; */
  bottom: 0; 
  width: 100%;
  /* height: 1%; */
  background-color: #005E93;
}

.text-footer {
  color: #fff;
}