body {
  margin: 0;
}

.menu-color {
  background-color: #005E93;
}

.mx-30p {
  margin-left: 30%;
  margin-right: 30%;
}

.img-logo {
  width: 65%;
  height: 65%;
}



@media only screen and (max-width: 1200px) {
  .img-logo {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .img-logo {
    width: 150%;
    height: 150%;
  }
}


@media only screen and (max-width: 600px) {
  .img-logo {
    width: 200%;
    height: 200%;
  }
}

@media only screen and (max-width: 400px) {
  .img-logo {
    width: 250%;
    height: 250%;
  }
}





.logo-link {
  width:8%;
}